## Assignment 5
Zuzanna Liberto <br>
10.15.2020 <br>

In [1]:
import pandas as pd

### Exercise 1

In [2]:
df2016 = pd.read_csv("UIC2016Basketball.csv")
print(df2016)

          Date                Opp  UIC Score  Opp Score  UIC FG  Opp FG  \
0   11/13/2015      San Francisco         75         78    28.0      24
1   11/17/2015   Western Illinois         57         84    15.0      30
2   11/24/2015          Roosevelt         96         58    35.0      22
3   11/28/2015              Drake         62         83    23.0      31
4    12/2/2015             DePaul         55         82    20.0      29
5    12/5/2015                UCF         58         88    22.0      26
6   12/12/2015           Illinois         79         83     NaN      25
7   12/16/2015     Illinois State         60         72    17.0      25
8   12/19/2015        Loyola (IL)         47         64    18.0      20
9   12/22/2015     Purdue Calumet         91         72    30.0      26
10  12/29/2015  Northern Illinois         65         70    20.0      22
11    1/2/2016         Valparaiso         47         75    18.0      25
12    1/8/2016            Detroit         69         87    21.0      26
13   1/10/2016            Oakland         61         86    21.0      25
14   1/14/2016          Green Bay         76         78    29.0      29
15   1/16/2016          Milwaukee         62         87    21.0      31
16   1/18/2016    Cleveland State         53         70    20.0      23
17   1/22/2016  Northern Kentucky         69         82    23.0      25
18   1/24/2016       Wright State         66         80    22.0      29
19   1/28/2016   Youngstown State         78         82     NaN      29
20   1/30/2016    Cleveland State         72         70    21.0      26
21    2/6/2016         Valparaiso         55         73    19.0      28
22   2/11/2016       Wright State         64         59    22.0      21
23   2/13/2016  Northern Kentucky         79         77    24.0      27
24   2/16/2016   Youngstown State         91         92    38.0      35
25   2/19/2016            Detroit         72         83    24.0      27
26   2/21/2016            Oakland         63         74    24.0      28
27   2/26/2016          Green Bay         69         85    22.0      30
28   2/28/2016          Milwaukee         85         98    30.0      30
29    3/5/2016       Wright State         43         74    12.0      29

    UIC 3P  Opp 3P  UIC TRB  Opp TRB  UIC AST  Opp AST
0      8.0     8.0       36     42.0     17.0       15
1      3.0     5.0       40     42.0      6.0       16
2      1.0     5.0       52     23.0      NaN       15
3      4.0    10.0       30     34.0      5.0       18
4      2.0     NaN       31     36.0     12.0       19
5      4.0     7.0       43     32.0     10.0       14
6      9.0     9.0       38     25.0     18.0       18
7      7.0     2.0       31     43.0     15.0       14
8      5.0     4.0       32     29.0      7.0        9
9     10.0     8.0       36      NaN     21.0       18
10     4.0     8.0       30     33.0     18.0       19
11     2.0     8.0       28     39.0     11.0       12
12     2.0     4.0       35     32.0      6.0       10
13     NaN     4.0       32     30.0     10.0       11
14     5.0     4.0       33     40.0     20.0       19
15     4.0     8.0       29     32.0     11.0       24
16     2.0     9.0       36     37.0      6.0       15
17     1.0     9.0       36     34.0      3.0       14
18     2.0     9.0       36     25.0      NaN       14
19     5.0    14.0       49     37.0     16.0       21
20     4.0     4.0       35     34.0     13.0       16
21     2.0     7.0       28     40.0      8.0       20
22     5.0     6.0       40     30.0     13.0       14
23     7.0     9.0       45     30.0     13.0       16
24     6.0     5.0       60     45.0     12.0       11
25     4.0     7.0       34     36.0      9.0       19
26     3.0     7.0       42     44.0     12.0       16
27     6.0     9.0       31     44.0      7.0       17
28     9.0    15.0       36     39.0     13.0       25
29     2.0    14.0       39     39.0      5.0       20

### Exercise 2

In [3]:
df2016.columns = ["Date", "Opponent", "UIC Score", "Opp Score", "UIC Field Goal Percentage", "Opp Field Goal Percentage", "UIC 3 point Field Goal Percentage", "Opp 3 point Field Goal Percentage", "UIC Rebound", "Opp Rebound", "UIC Assists", "Opp Assists"]
print("The columns in df2016 dataframe are as follows:\n\n", list(df2016.columns))

The columns in df2016 dataframe are as follows:

 ['Date', 'Opponent', 'UIC Score', 'Opp Score', 'UIC Field Goal Percentage', 'Opp Field Goal Percentage', 'UIC 3 point Field Goal Percentage', 'Opp 3 point Field Goal Percentage', 'UIC Rebound', 'Opp Rebound', 'UIC Assists', 'Opp Assists']

### Exercise 3

In [4]:
df2016.fillna("-")

,Date,Opponent,UIC Score,Opp Score,UIC Field Goal Percentage,Opp Field Goal Percentage,UIC 3 point Field Goal Percentage,Opp 3 point Field Goal Percentage,UIC Rebound,Opp Rebound,UIC Assists,Opp Assists
0,11/13/2015,San Francisco,75,78,28,24,8,8,36,42,17,15
1,11/17/2015,Western Illinois,57,84,15,30,3,5,40,42,6,16
2,11/24/2015,Roosevelt,96,58,35,22,1,5,52,23,-,15
3,11/28/2015,Drake,62,83,23,31,4,10,30,34,5,18
4,12/2/2015,DePaul,55,82,20,29,2,-,31,36,12,19
5,12/5/2015,UCF,58,88,22,26,4,7,43,32,10,14
6,12/12/2015,Illinois,79,83,-,25,9,9,38,25,18,18
7,12/16/2015,Illinois State,60,72,17,25,7,2,31,43,15,14
8,12/19/2015,Loyola (IL),47,64,18,20,5,4,32,29,7,9
9,12/22/2015,Purdue Calumet,91,72,30,26,10,8,36,-,21,18
10,12/29/2015,Northern Illinois,65,70,20,22,4,8,30,33,18,19
11,1/2/2016,Valparaiso,47,75,18,25,2,8,28,39,11,12
12,1/8/2016,Detroit,69,87,21,26,2,4,35,32,6,10
13,1/10/2016,Oakland,61,86,21,25,-,4,32,30,10,11
14,1/14/2016,Green Bay,76,78,29,29,5,4,33,40,20,19
15,1/16/2016,Milwaukee,62,87,21,31,4,8,29,32,11,24
16,1/18/2016,Cleveland State,53,70,20,23,2,9,36,37,6,15
17,1/22/2016,Northern Kentucky,69,82,23,25,1,9,36,34,3,14
18,1/24/2016,Wright State,66,80,22,29,2,9,36,25,-,14
19,1/28/2016,Youngstown State,78,82,-,29,5,14,49,37,16,21
20,1/30/2016,Cleveland State,72,70,21,26,4,4,35,34,13,16
21,2/6/2016,Valparaiso,55,73,19,28,2,7,28,40,8,20
22,2/11/2016,Wright State,64,59,22,21,5,6,40,30,13,14
23,2/13/2016,Northern Kentucky,79,77,24,27,7,9,45,30,13,16
24,2/16/2016,Youngstown State,91,92,38,35,6,5,60,45,12,11
25,2/19/2016,Detroit,72,83,24,27,4,7,34,36,9,19
26,2/21/2016,Oakland,63,74,24,28,3,7,42,44,12,16
27,2/26/2016,Green Bay,69,85,22,30,6,9,31,44,7,17
28,2/28/2016,Milwaukee,85,98,30,30,9,15,36,39,13,25
29,3/5/2016,Wright State,43,74,12,29,2,14,39,39,5,20

### Exercise 4

In [5]:
data_types = df2016.dtypes
print("The data types of each column are as follows:\n\n", data_types)

The data types of each column are as follows:

 Date                                  object
Opponent                              object
UIC Score                              int64
Opp Score                              int64
UIC Field Goal Percentage            float64
Opp Field Goal Percentage              int64
UIC 3 point Field Goal Percentage    float64
Opp 3 point Field Goal Percentage    float64
UIC Rebound                            int64
Opp Rebound                          float64
UIC Assists                          float64
Opp Assists                            int64
dtype: object

### Exercise 5

In [6]:
# count the unique opponents

n_unique_opponents = df2016["Opponent"].nunique()
print("UIC played with", n_unique_opponents, "opponents in 2016")

UIC played with 20 opponents in 2016

### Exercise 6

In [8]:
# filter the dataframe based on UIC score

filtered_df = df2016[df2016["UIC Score"] > 65]

print("UIC scored more than 65 points in",filtered_df["Opponent"].count(), "games:\n\n",filtered_df[["Date", "Opponent", "UIC Score", "Opp Score"]])

UIC scored more than 65 points in 15 games:

           Date           Opponent  UIC Score  Opp Score
0   11/13/2015      San Francisco         75         78
2   11/24/2015          Roosevelt         96         58
6   12/12/2015           Illinois         79         83
9   12/22/2015     Purdue Calumet         91         72
12    1/8/2016            Detroit         69         87
14   1/14/2016          Green Bay         76         78
17   1/22/2016  Northern Kentucky         69         82
18   1/24/2016       Wright State         66         80
19   1/28/2016   Youngstown State         78         82
20   1/30/2016    Cleveland State         72         70
23   2/13/2016  Northern Kentucky         79         77
24   2/16/2016   Youngstown State         91         92
25   2/19/2016            Detroit         72         83
27   2/26/2016          Green Bay         69         85
28   2/28/2016          Milwaukee         85         98

### Exercise 7

In [9]:
# set the result column to the value of "Tie", then change each row of Result depending on the score
df2016["Result"] = "Tie"
df2016.loc[df2016["UIC Score"] > df2016["Opp Score"],"Result"] = 'Win'
df2016.loc[df2016["UIC Score"] < df2016["Opp Score"], "Result"] = 'Loss'

# print(df2016[["Opponent", "Result"]])

# group by result and count

result_group = df2016.groupby("Result")

result_count = result_group["Result"].count()

# this line of code is here so that in case there is no ties (like in this case), it displays "Tie = 0"
result_count.loc["Tie"] = df2016["Opponent"].count() - result_count.loc["Win"] - result_count.loc["Loss"]


print("\n\n",result_count)

 Result
Loss    25
Win      5
Tie      0
Name: Result, dtype: int64