## Exam 1
Zuzanna Liberto <br>
10.29.2020 <br>

### Q1

In [1]:
inp = input("Please enter your cooking option:")

if (inp == "microwave"):
    print("You should cook it for 3 mins.")
elif(inp == "oven"):
    print("You should cook it for 15 mins.")
elif(inp == "fry pan"):
    print("You should cook it for 10 mins.")
else:
    print("Invalid input. Please try microwave, over or fry pan")

Please enter your cooking option: microwave

You should cook it for 3 mins.

### Q2

**The problem with this code is that it never stops. It's an infinite loop. We need to adjust the iterative variable so that at some point the loop stops. This can be done by adding 1 to i each time the loop runs.
Also, Output 2 will never be printed out as the code reaches the loop condition at 0 and the value of i doesn't go over 0. This could be solved by setting a different stopping condition. Another problem is that the offset variable is not defined so can't be printed. An offset variable can be added to this code to represent the number of iterations run.**

In [2]:
i = -6
offset = 0
# Code the while loop
while i != 0 :
    print("Output 1")
    if i>0 :
          print("Output 2")
    else : 
          print("Output 3")  
    # Add 1 to i in each iteration
    i = i+1
    offset = offset + 1
    
print(offset)

Output 1
Output 3
Output 1
Output 3
Output 1
Output 3
Output 1
Output 3
Output 1
Output 3
Output 1
Output 3
6

### Q3

In [3]:
# Take the input
inp = input("Please enter four numbers:")
# Split by space
splt = inp.split(" ")

# initialize variables
summ = 0
count = 0

# loop for count and sum
for i in splt:
    summ = summ + int(i)
    count = count + 1

# calculate the average
avg = summ/count

# print results
print("The sum is:", summ)
print("The average is:", avg)

Please enter four numbers: 10 20 30 40

The sum is: 100
The average is: 25.0

### Q4

In [4]:
#### Student GPA dictionary
student_gpa = {}

# Take the intitial input separated by a space, for example: Alice 4
inp = input("Please type in student's name and GPA seperated by a space (X to exit):\n")

#loop for adding to the dictionary
while (inp != "X"):
    splt = inp.split(" ")
    student_gpa[splt[0]] = float(splt[1])
    inp = input("Please type in student's name and GPA seperated by a space (X to exit):\n")

# define count and sum variables
count = 0
summ = 0

#this loop counts the inputs in the dictionary and sums them up
for i in student_gpa.values():
    count = count + 1
    summ = summ + i

# calculate the average
avg = summ/count

print("The average GPA is",avg)

Please type in student's name and GPA seperated by a space (X to exit):
 Alice 4
Please type in student's name and GPA seperated by a space (X to exit):
 Ben 3.8
Please type in student's name and GPA seperated by a space (X to exit):
 Catherine 3.6
Please type in student's name and GPA seperated by a space (X to exit):
 Doug 3.4
Please type in student's name and GPA seperated by a space (X to exit):
 X

The average GPA is 3.7

### Q5

In [5]:
# take the input
inp = input("Please enter a sentence:")

# split on a space
splt = inp.split(" ")

# initialize the dictionary
occurences = {}

# loop over the split values
for i in range(0, len(splt)):
    # to lower letter
    word = splt[i].lower()
    # count only alphabetical words (no numbers or characters)
    if word.isalpha():
        if word not in occurences:
            occurences[word] = 1
        else:
            occurences[word] = occurences[word] + 1

# sort the values
sorted_occurences = sorted(occurences.items(), key = lambda item: item[1], reverse = True)

# print results
print("\nThe most frequent word is:", sorted_occurences[0][0])
print("The frequency is:", sorted_occurences[0][1])

Please enter a sentence: I like batman because batman saved the city many times.

The most frequent word is: batman
The frequency is: 2

### Q6

In [6]:
import pandas as pd

data = {'Name':  ['Bob', 'Bob','Jessica', 'Jessica', 'Jessica', 'Mary', 'John', 'John'],
        'Product': ['Apple', 'Banana','Orange', 'Banana', 'Tomato', 'Banana', 'Apple', 'Grape'],
        'Amount':[1,2,3,4,3,2,3,1]
        }

df = pd.DataFrame(data, columns = ['Name','Product','Amount'])

print("Pandas data frame:\n\n", df)

prods_grouped = df.groupby("Product")
prods_count = prods_grouped["Amount"].sum()

print("\n\nNumber of units sold in total:\n\n",prods_count)

sales_morethan3 =prods_count[prods_count > 3]

print("\n\nProducts which sales are larger than 3:\n\n", sales_morethan3)

Pandas data frame:

       Name Product  Amount
0      Bob   Apple       1
1      Bob  Banana       2
2  Jessica  Orange       3
3  Jessica  Banana       4
4  Jessica  Tomato       3
5     Mary  Banana       2
6     John   Apple       3
7     John   Grape       1


Number of units sold in total:

 Product
Apple     4
Banana    8
Grape     1
Orange    3
Tomato    3
Name: Amount, dtype: int64


Products which sales are larger than 3:

 Product
Apple     4
Banana    8
Name: Amount, dtype: int64