## Lab 9
Zuzanna Liberto<br>
10/15/20

In [1]:
import pandas as pd

### Task 1

In [2]:
chipo = pd.read_csv("chipotle.txt",sep="\t")

### Task 2

In [3]:
# returns the first 10 records
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [4]:
#  returns information about the data frame
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [5]:
# returns the shape of the dataframe
chipo.shape

(4622, 5)

In [6]:
# returns the column names
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [7]:
# returns the range of indexes of the dataframe
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Task 3

In [8]:
item_group = chipo.groupby("item_name")
most_ordered = item_group.count().sort_values("quantity", ascending = False)
print("The most ordered products\n", most_ordered[["quantity"]])

The most ordered products
                                        quantity
item_name
Chicken Bowl                                726
Chicken Burrito                             553
Chips and Guacamole                         479
Steak Burrito                               368
Canned Soft Drink                           301
Steak Bowl                                  211
Chips                                       211
Bottled Water                               162
Chicken Soft Tacos                          115
Chicken Salad Bowl                          110
Chips and Fresh Tomato Salsa                110
Canned Soda                                 104
Side of Chips                               101
Veggie Burrito                               95
Barbacoa Burrito                             91
Veggie Bowl                                  85
Carnitas Bowl                                68
Barbacoa Bowl                                66
Carnitas Burrito                             59
Steak Soft Tacos                             55
6 Pack Soft Drink                            54
Chips and Tomatillo Red Chili Salsa          48
Chicken Crispy Tacos                         47
Chips and Tomatillo Green Chili Salsa        43
Carnitas Soft Tacos                          40
Steak Crispy Tacos                           35
Chips and Tomatillo-Green Chili Salsa        31
Steak Salad Bowl                             29
Nantucket Nectar                             27
Barbacoa Soft Tacos                          25
Chips and Roasted Chili Corn Salsa           22
Chips and Tomatillo-Red Chili Salsa          20
Izze                                         20
Veggie Salad Bowl                            18
Chips and Roasted Chili-Corn Salsa           18
Barbacoa Crispy Tacos                        11
Barbacoa Salad Bowl                          10
Chicken Salad                                 9
Carnitas Crispy Tacos                         7
Veggie Soft Tacos                             7
Burrito                                       6
Veggie Salad                                  6
Carnitas Salad Bowl                           6
Steak Salad                                   4
Bowl                                          2
Salad                                         2
Crispy Tacos                                  2
Chips and Mild Fresh Tomato Salsa             1
Carnitas Salad                                1
Veggie Crispy Tacos                           1

### Task 4

In [9]:
desc_group = chipo.groupby("choice_description")
most_desc = desc_group.count().sort_values("quantity", ascending = False)
print("The most ordered items in choice description:\n", most_desc["quantity"].head(20))

The most ordered items in choice description:
 choice_description
[Diet Coke]                                                                                             134
[Coke]                                                                                                  123
[Sprite]                                                                                                 77
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                                   42
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]                        40
[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice, Cheese, Sour Cream]]                                     36
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream]]                                            33
[Lemonade]                                                                                               33
[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream, Lettuce]]                                                29
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese]]                                                        28
[Fresh Tomato Salsa, [Rice, Cheese, Lettuce]]                                                            26
[Coca Cola]                                                                                              26
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Lettuce]]                                               25
[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]                                                         23
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole]]                                 22
[Fresh Tomato Salsa, [Fajita Vegetables, Rice]]                                                          22
[Fresh Tomato Salsa, [Fajita Vegetables, Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                21
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Guacamole, Lettuce]]                                    21
[Roasted Chili Corn Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                             21
[Fresh Tomato Salsa, [Fajita Vegetables, Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]     20
Name: quantity, dtype: int64

### Task 5

In [10]:
sum_quant = chipo["quantity"].sum()
print("Number of items ordered in total:\n", sum_quant)

Number of items ordered in total:
 4972

### Task 6

In [11]:
chipo["item_price"] = chipo["item_price"].str.replace("$", "")
chipo["item_price"] = pd.to_numeric(chipo["item_price"])
chipo["totals"] = chipo["quantity"] * chipo["item_price"]
print("Total revenue is:\t$", chipo["totals"].sum())

Total revenue is:	$ 39237.02

### Task 7

In [12]:
n_orders = chipo["order_id"].nunique()
print("Number of orders:", n_orders)

Number of orders: 1834

### Task 8

In [13]:
average_total = chipo["totals"].mean()
average_quant = chipo["quantity"].mean()

print("Average order price: \t$", round(average_total,2) , "\nAverage quantity:\t", round(average_quant, 0))

Average order price: 	$ 8.49
Average quantity:	 1.0

### Task 9

In [14]:
n_unique = chipo["item_name"].nunique()
print("Number of unique item names:", n_unique)

Number of unique item names: 50